/* タブレット用レイアウト 1308px */
@media screen and (max-width: 1308px) {
  .pc-nav { width: 100%; }
  .topmainbox-wrap .topmainbox { margin: 0 auto; }
  .topmainbox-wrap .bx-wrapper img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .ft_nav { margin: 2em auto; text-align: center; }
  .h_tel .tel_link a { font-size: 1.3em; }
  #greeting p {
    font-size: 0.95em;
    text-align: center;
    max-width: 32em;
    margin: 0 auto;
  }
}

/* タブレット用レイアウト 1040px */
@media screen and (max-width: 1040px) {
  img { max-width: 100%; height: auto; }
  img, a img { border: none; vertical-align: bottom; }
  .topmainbox-wrap #slider { width: 100%; }
  *, *:before, *:after { box-sizing: border-box; }
  body {
    width: 100%;
    min-width: 100% !important;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #3f3f3f;
  }
  .pn { display: block; }
  .tn { display: none; }
  header { position: relative; z-index: 333; }
  #header {
    padding: 0;
    height: auto;
    text-align: left;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    transition: none;
    transform: none;
  }
  #header .tel_link { background: none; font-size: 1.2em; }
  #header .tel_link, #header .tel_txt { color: #fff; padding: 0; }
  h1 { display: none; }
  .siteTitle { padding-top: 1em; }
  .siteTitle a { position: relative; }
  .h_info { float: none; width: 100%; }
  .topmainbox-wrap {
    clear: both;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  .topmainbox-wrap .bx-wrapper img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .bx-wrapper .bx-viewport {
    overflow: visible !important;
    width: 100%;
    text-align: center;
  }
  #slider li.main01,
  #slider li.main02,
  #slider li.main03 {
    min-height: unset;
    height: 80vh;
  }
  #footer { width: 100%; }
  .ft_info { width: 100%; }
  .ft_logo { width: 100%; text-align: center; }
  .ft_nav {
    max-width: none;
    width: 100%;
    background: none;
    margin-bottom: 0;
    padding: 0;
  }
  .ft_nav > ul {
    width: 97%;
    border: none;
    display: inline-block;
    max-width: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  .ft_nav > ul > li {
    width: 49%;
    padding: 0;
    display: table;
    margin-right: 2%;
    margin-bottom: 0.5em;
    background: none;
    float: left;
  }
  .ft_nav > ul:first-child li { width: 49%; }
  .ft_nav > ul:first-child > li:nth-child(2n+1) { margin-right: 0; }
  .ft_nav > ul:first-child li:first-child { width: 100%; }
  .ft_nav > ul:nth-child(2) li:nth-child(2) { width: 49%; }
  .ft_nav > ul:nth-child(2) li { width: 49%; }
  .ft_nav > ul:nth-child(2) li:nth-child(2n) { margin-right: 0; }
  .ft_nav > ul:nth-child(2) li:last-child { width: 49%; }
  .ft_nav a {
    width: 100%;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    padding: 2em 0;
    text-align: center;
    background: #618801;
    vertical-align: middle;
  }
  .ft_nav a:link,
  .ft_nav a:visited,
  .ft_nav a:hover,
  .ft_nav a:active {
    color: #ffffff;
    font-weight: 400;
  }
  section { width: 100%; padding: 3em 2%; margin: 0 auto; }
  #wrap-content h3 { font-size: 1.8em; }
  .greeting_inner { width: 90%; }
  #greeting h3 { padding-top: 17%; }
  #shop ul li { width: 100%; margin: 0 auto 1em; }
  #ig { width: 90%; margin: 0 auto 4em; }
  .info_rBox { width: 90%; margin: 0 auto; }
  #news {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #news h3 { width: initial; text-align: center; }
  #news h3 span { text-align: center; }
  #news dl { height: auto; display: inherit; line-height: 32px; }
  #news dt { display: block; width: 100%; text-align: left; }
  #news dd { display: block; width: 100%; }
  #news dd a { white-space: nowrap; text-overflow: ellipsis; }
  #reservation {
    padding-bottom: 15em;
    background: url(https://www.kazamidori28.com/images/top/reservation_img.png) no-repeat 80% 100%,
      linear-gradient(#FFF 0%, #FFF 14%, #f3f6ec 14%, #f3f6ec 100%);
  }
  #sub_visual { height: 350px; }
}
